.form{
    width: 60%;
}

.attendance-edit_group{
    background-color: white;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.attendance-edit_input{
    border-bottom: 3px solid #E1E1E1;;
    display: flex;
    align-items: center;
    padding: 20px 0;
    width: 100%;
}

.attendance-label{
    color: #737373;
    width: 300px;
    padding-left: 50px;
}

.attendance-input_read-only{
    font-size: 18px;
    font-weight: bold;
}

.attendance-input-wrapper{
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.attendance-input{
    width: 150px;
    text-align: left;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}


.attendance-input[type="text"]{
    width: 100%;
}

.edit-btn{
    width: 100%;
    margin-top: 20px;
    text-align: end;
}
.edit-btn_submit{
    align-items: center;
    padding: 10px 30px;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}