.attendance-check{
    border: 1px solid #C8C8C8;
    background-color: #C8C8C8;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 20px;
    margin: 20px 0;
}
.attendance-date{
    margin: 10px 0;
}

.attendance-buttons{
    margin: 30px;
    display: flex;
    justify-content: space-around;

}
.btn-1{
    size: 30px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 10px 30px;
}
.btn-2 {
    size: 30px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 10px 30px;
}
.text-1{
    font-weight: bold;
}